[Unit]
Description=PAI Kerberos Ticket Auto-Renewal Timer
Requires=pai-kerberos-renewal.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
Persistent=true

[Install]
WantedBy=timers.target
