---
# Platform Detection

- name: Gather system facts
  setup:
    gather_subset:
      - distribution
      - os_family

- name: Set platform facts
  set_fact:
    is_linux: "{{ ansible_os_family not in ['Darwin', 'Windows'] }}"
    is_macos: "{{ ansible_os_family == 'Darwin' }}"
    is_windows: "{{ ansible_os_family == 'Windows' }}"
    is_redhat_family: "{{ ansible_os_family == 'RedHat' }}"
    is_debian_family: "{{ ansible_os_family == 'Debian' }}"

- name: Display platform information
  debug:
    msg:
      - "OS: {{ ansible_distribution }} {{ ansible_distribution_version }}"
      - "OS Family: {{ ansible_os_family }}"
      - "Architecture: {{ ansible_architecture }}"
      - "Python: {{ ansible_python_version }}"

- name: Check Python version
  assert:
    that:
      - ansible_python_version is version('3.8', '>=')
    fail_msg: "Python 3.8+ required, found {{ ansible_python_version }}"
    success_msg: "Python {{ ansible_python_version }} is supported"

